data/wsdl/DosingService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="DosingStation" targetNamespace="http://dosing.util.freemedsoftware.org/" xmlns:ns1="http://cxf.apache.org/bindings/xformat" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://dosing.util.freemedsoftware.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://dosing.util.freemedsoftware.org/" xmlns:tns="http://dosing.util.freemedsoftware.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:element name="NoSuchPortException" type="tns:NoSuchPortException" />
<xsd:complexType name="NoSuchPortException">
<xsd:sequence />
</xsd:complexType>
<xsd:element name="IOException" type="tns:IOException" />
<xsd:complexType name="IOException">
<xsd:sequence />
</xsd:complexType>
<xsd:element name="PortInUseException" type="tns:PortInUseException" />
<xsd:complexType name="PortInUseException">
<xsd:sequence>
<xsd:element name="currentOwner" nillable="true" type="xsd:string" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="UnsupportedCommOperationException" type="tns:UnsupportedCommOperationException" />
<xsd:complexType name="UnsupportedCommOperationException">
<xsd:sequence />
</xsd:complexType>
<xsd:element name="sendCommandToPump" type="tns:sendCommandToPump" />
<xsd:complexType name="sendCommandToPump">
<xsd:sequence>
<xsd:element minOccurs="0" name="cmd" type="xsd:string" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="sendCommandToPumpResponse" type="tns:sendCommandToPumpResponse" />
<xsd:complexType name="sendCommandToPumpResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="xsd:string" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="printDosingLabel" type="tns:printDosingLabel" />
<xsd:complexType name="printDosingLabel">
<xsd:sequence>
<xsd:element minOccurs="0" name="patientName" type="xsd:string" />
<xsd:element minOccurs="0" name="patientId" type="xsd:string" />
<xsd:element minOccurs="0" name="providerName" type="xsd:string" />
<xsd:element minOccurs="0" name="expires" type="xsd:string" />
<xsd:element minOccurs="0" name="dosage" type="xsd:string" />
<xsd:element minOccurs="0" name="dosageDate" type="xsd:string" />
<xsd:element minOccurs="0" name="lotNumber" type="xsd:string" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="printDosingLabelResponse" type="tns:printDosingLabelResponse" />
<xsd:complexType name="printDosingLabelResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="xsd:int" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="getProtocolVersion" type="tns:getProtocolVersion" />
<xsd:complexType name="getProtocolVersion">
<xsd:sequence />
</xsd:complexType>
<xsd:element name="getProtocolVersionResponse" type="tns:getProtocolVersionResponse" />
<xsd:complexType name="getProtocolVersionResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="xsd:int" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="printToxicologyLabel" type="tns:printToxicologyLabel" />
<xsd:complexType name="printToxicologyLabel">
<xsd:sequence>
<xsd:element minOccurs="0" name="patientName" type="xsd:string" />
<xsd:element minOccurs="0" name="patientId" type="xsd:string" />
<xsd:element minOccurs="0" name="providerName" type="xsd:string" />
<xsd:element minOccurs="0" name="counselorName" type="xsd:string" />
<xsd:element minOccurs="0" name="testName" type="xsd:string" />
<xsd:element minOccurs="0" name="testDate" type="xsd:string" />
<xsd:element minOccurs="0" name="substances" type="xsd:string" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="printToxicologyLabelResponse" type="tns:printToxicologyLabelResponse" />
<xsd:complexType name="printToxicologyLabelResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="xsd:int" />
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="printDosingLabelResponse">
    <wsdl:part element="tns:printDosingLabelResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IOException">
    <wsdl:part element="tns:IOException" name="IOException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UnsupportedCommOperationException">
    <wsdl:part element="tns:UnsupportedCommOperationException" name="UnsupportedCommOperationException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProtocolVersionResponse">
    <wsdl:part element="tns:getProtocolVersionResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendCommandToPump">
    <wsdl:part element="tns:sendCommandToPump" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="printDosingLabel">
    <wsdl:part element="tns:printDosingLabel" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendCommandToPumpResponse">
    <wsdl:part element="tns:sendCommandToPumpResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NoSuchPortException">
    <wsdl:part element="tns:NoSuchPortException" name="NoSuchPortException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="printToxicologyLabelResponse">
    <wsdl:part element="tns:printToxicologyLabelResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProtocolVersion">
    <wsdl:part element="tns:getProtocolVersion" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PortInUseException">
    <wsdl:part element="tns:PortInUseException" name="PortInUseException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="printToxicologyLabel">
    <wsdl:part element="tns:printToxicologyLabel" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DosingService">
    <wsdl:operation name="sendCommandToPump">
      <wsdl:input message="tns:sendCommandToPump" name="sendCommandToPump">
    </wsdl:input>
      <wsdl:output message="tns:sendCommandToPumpResponse" name="sendCommandToPumpResponse">
    </wsdl:output>
      <wsdl:fault message="tns:UnsupportedCommOperationException" name="UnsupportedCommOperationException">
    </wsdl:fault>
      <wsdl:fault message="tns:IOException" name="IOException">
    </wsdl:fault>
      <wsdl:fault message="tns:PortInUseException" name="PortInUseException">
    </wsdl:fault>
      <wsdl:fault message="tns:NoSuchPortException" name="NoSuchPortException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="printDosingLabel">
      <wsdl:input message="tns:printDosingLabel" name="printDosingLabel">
    </wsdl:input>
      <wsdl:output message="tns:printDosingLabelResponse" name="printDosingLabelResponse">
    </wsdl:output>
      <wsdl:fault message="tns:IOException" name="IOException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProtocolVersion">
      <wsdl:input message="tns:getProtocolVersion" name="getProtocolVersion">
    </wsdl:input>
      <wsdl:output message="tns:getProtocolVersionResponse" name="getProtocolVersionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="printToxicologyLabel">
      <wsdl:input message="tns:printToxicologyLabel" name="printToxicologyLabel">
    </wsdl:input>
      <wsdl:output message="tns:printToxicologyLabelResponse" name="printToxicologyLabelResponse">
    </wsdl:output>
      <wsdl:fault message="tns:IOException" name="IOException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DosingStationSoapBinding" type="tns:DosingService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sendCommandToPump">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="sendCommandToPump">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="sendCommandToPumpResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UnsupportedCommOperationException">
        <soap:fault name="UnsupportedCommOperationException" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="IOException">
        <soap:fault name="IOException" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="PortInUseException">
        <soap:fault name="PortInUseException" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="NoSuchPortException">
        <soap:fault name="NoSuchPortException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="printDosingLabel">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="printDosingLabel">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="printDosingLabelResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="IOException">
        <soap:fault name="IOException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProtocolVersion">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getProtocolVersion">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getProtocolVersionResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="printToxicologyLabel">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="printToxicologyLabel">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="printToxicologyLabelResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="IOException">
        <soap:fault name="IOException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DosingStation">
    <wsdl:port binding="tns:DosingStationSoapBinding" name="DosingServiceImplPort">
      <soap:address location="http://127.0.0.1:8180/DosingStation/DosingService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
