data/wsdl/remitt.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="RemittService" targetNamespace="http://server.remitt.org/" xmlns:ns1="http://cxf.apache.org/bindings/xformat" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.remitt.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://server.remitt.org/" version="1.0" xmlns:ns1="http://jaxb.dev.java.net/array" xmlns:tns="http://server.remitt.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import namespace="http://jaxb.dev.java.net/array" />
<xs:element name="addKeyToKeyring" type="tns:addKeyToKeyring" />
<xs:element name="addKeyToKeyringResponse" type="tns:addKeyToKeyringResponse" />
<xs:element name="addRemittUser" type="tns:addRemittUser" />
<xs:element name="addRemittUserResponse" type="tns:addRemittUserResponse" />
<xs:element name="changePassword" type="tns:changePassword" />
<xs:element name="changePasswordResponse" type="tns:changePasswordResponse" />
<xs:element name="getBulkStatus" type="tns:getBulkStatus" />
<xs:element name="getBulkStatusResponse" type="tns:getBulkStatusResponse" />
<xs:element name="getConfigValues" type="tns:getConfigValues" />
<xs:element name="getConfigValuesResponse" type="tns:getConfigValuesResponse" />
<xs:element name="getCurrentUserName" type="tns:getCurrentUserName" />
<xs:element name="getCurrentUserNameResponse" type="tns:getCurrentUserNameResponse" />
<xs:element name="getEligibility" type="tns:getEligibility" />
<xs:element name="getEligibilityResponse" type="tns:getEligibilityResponse" />
<xs:element name="getFile" type="tns:getFile" />
<xs:element name="getFileList" type="tns:getFileList" />
<xs:element name="getFileListResponse" type="tns:getFileListResponse" />
<xs:element name="getFileResponse" type="tns:getFileResponse" />
<xs:element name="getOutputMonths" type="tns:getOutputMonths" />
<xs:element name="getOutputMonthsResponse" type="tns:getOutputMonthsResponse" />
<xs:element name="getOutputYears" type="tns:getOutputYears" />
<xs:element name="getOutputYearsResponse" type="tns:getOutputYearsResponse" />
<xs:element name="getPluginOptions" type="tns:getPluginOptions" />
<xs:element name="getPluginOptionsResponse" type="tns:getPluginOptionsResponse" />
<xs:element name="getPlugins" type="tns:getPlugins" />
<xs:element name="getPluginsResponse" type="tns:getPluginsResponse" />
<xs:element name="getProtocolVersion" type="tns:getProtocolVersion" />
<xs:element name="getProtocolVersionResponse" type="tns:getProtocolVersionResponse" />
<xs:element name="getStatus" type="tns:getStatus" />
<xs:element name="getStatusResponse" type="tns:getStatusResponse" />
<xs:element name="insertPayload" type="tns:insertPayload" />
<xs:element name="insertPayloadResponse" type="tns:insertPayloadResponse" />
<xs:element name="listRemittUsers" type="tns:listRemittUsers" />
<xs:element name="listRemittUsersResponse" type="tns:listRemittUsersResponse" />
<xs:element name="parseData" type="tns:parseData" />
<xs:element name="parseDataResponse" type="tns:parseDataResponse" />
<xs:element name="setConfigValue" type="tns:setConfigValue" />
<xs:element name="setConfigValueResponse" type="tns:setConfigValueResponse" />
<xs:complexType name="getPluginOptions">
<xs:sequence>
<xs:element minOccurs="0" name="pluginclass" type="xs:string" />
<xs:element minOccurs="0" name="qualifyingoption" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getPluginOptionsResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getStatus">
<xs:sequence>
<xs:element minOccurs="0" name="jobId" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getStatusResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getOutputYears">
<xs:sequence />
</xs:complexType>
<xs:complexType name="getOutputYearsResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns1:intArray" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="parseData">
<xs:sequence>
<xs:element minOccurs="0" name="parserClass" type="xs:string" />
<xs:element minOccurs="0" name="data" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="parseDataResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getEligibility">
<xs:sequence>
<xs:element minOccurs="0" name="plugin" type="xs:string" />
<xs:element minOccurs="0" name="parameters" type="tns:hashMap" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="hashMap">
<xs:complexContent>
<xs:extension base="tns:abstractMap">
<xs:sequence />
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType abstract="true" name="abstractMap">
<xs:sequence />
</xs:complexType>
<xs:complexType name="getEligibilityResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:eligibilityResponse" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="eligibilityResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="messages" nillable="true" type="xs:string" />
<xs:element minOccurs="0" name="rawResponse" type="xs:string" />
<xs:element minOccurs="0" name="status" type="tns:eligibilityStatus" />
<xs:element minOccurs="0" name="successCode" type="tns:successCode" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="eligibilityStatus">
<xs:sequence />
</xs:complexType>
<xs:complexType name="successCode">
<xs:sequence />
</xs:complexType>
<xs:complexType name="listRemittUsers">
<xs:sequence />
</xs:complexType>
<xs:complexType name="listRemittUsersResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:userDTO" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="userDTO">
<xs:sequence>
<xs:element minOccurs="0" name="callbackPassword" type="xs:string" />
<xs:element minOccurs="0" name="callbackServiceUri" type="xs:string" />
<xs:element minOccurs="0" name="callbackServiceWsdlUri" type="xs:string" />
<xs:element minOccurs="0" name="callbackUsername" type="xs:string" />
<xs:element minOccurs="0" name="password" type="xs:string" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="roles" nillable="true" type="xs:string" />
<xs:element minOccurs="0" name="username" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getConfigValues">
<xs:sequence />
</xs:complexType>
<xs:complexType name="getConfigValuesResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:configurationOption" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="configurationOption">
<xs:sequence>
<xs:element minOccurs="0" name="name" type="xs:string" />
<xs:element minOccurs="0" name="namespace" type="xs:string" />
<xs:element minOccurs="0" name="value" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="changePassword">
<xs:sequence>
<xs:element minOccurs="0" name="pw" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="changePasswordResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="insertPayload">
<xs:sequence>
<xs:element minOccurs="0" name="originalId" type="xs:string" />
<xs:element minOccurs="0" name="inputPayload" type="xs:string" />
<xs:element minOccurs="0" name="renderPlugin" type="xs:string" />
<xs:element minOccurs="0" name="renderOption" type="xs:string" />
<xs:element minOccurs="0" name="transportPlugin" type="xs:string" />
<xs:element minOccurs="0" name="transportOption" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="insertPayloadResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="setConfigValue">
<xs:sequence>
<xs:element minOccurs="0" name="namespace" type="xs:string" />
<xs:element minOccurs="0" name="option" type="xs:string" />
<xs:element minOccurs="0" name="value" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="setConfigValueResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getProtocolVersion">
<xs:sequence />
</xs:complexType>
<xs:complexType name="getProtocolVersionResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getFile">
<xs:sequence>
<xs:element minOccurs="0" name="category" type="xs:string" />
<xs:element minOccurs="0" name="filename" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getFileResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:base64Binary" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCurrentUserName">
<xs:sequence />
</xs:complexType>
<xs:complexType name="getCurrentUserNameResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getBulkStatus">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="jobIds" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getBulkStatusResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="addRemittUser">
<xs:sequence>
<xs:element minOccurs="0" name="user" type="tns:userDTO" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="addRemittUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getOutputMonths">
<xs:sequence>
<xs:element minOccurs="0" name="targetYear" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getOutputMonthsResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="addKeyToKeyring">
<xs:sequence>
<xs:element minOccurs="0" name="keyname" type="xs:string" />
<xs:element minOccurs="0" name="privatekey" type="xs:base64Binary" />
<xs:element minOccurs="0" name="publickey" type="xs:base64Binary" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="addKeyToKeyringResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getPlugins">
<xs:sequence>
<xs:element minOccurs="0" name="category" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getPluginsResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getFileList">
<xs:sequence>
<xs:element minOccurs="0" name="category" type="xs:string" />
<xs:element minOccurs="0" name="criteria" type="xs:string" />
<xs:element minOccurs="0" name="value" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getFileListResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:fileListingItem" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="fileListingItem">
<xs:sequence>
<xs:element minOccurs="0" name="filename" type="xs:string" />
<xs:element minOccurs="0" name="filesize" type="xs:int" />
<xs:element minOccurs="0" name="inserted" type="xs:dateTime" />
<xs:element minOccurs="0" name="originalId" type="xs:string" />
</xs:sequence>
</xs:complexType>
</xs:schema>
<xs:schema targetNamespace="http://jaxb.dev.java.net/array" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:complexType final="#all" name="intArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="xs:int" />
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="addRemittUserResponse">
    <wsdl:part element="tns:addRemittUserResponse" name="parameters" />
  </wsdl:message>
  <wsdl:message name="listRemittUsers">
    <wsdl:part element="tns:listRemittUsers" name="parameters" />
  </wsdl:message>
  <wsdl:message name="getEligibility">
    <wsdl:part element="tns:getEligibility" name="parameters" />
  </wsdl:message>
  <wsdl:message name="getFileListResponse">
    <wsdl:part element="tns:getFileListResponse" name="parameters" />
  </wsdl:message>
  <wsdl:message name="addKeyToKeyring">
    <wsdl:part element="tns:addKeyToKeyring" name="parameters" />
  </wsdl:message>
  <wsdl:message name="getPluginsResponse">
    <wsdl:part element="tns:getPluginsResponse" name="parameters" />
  </wsdl:message>
  <wsdl:message name="getOutputMonthsResponse">
    <wsdl:part element="tns:getOutputMonthsResponse" name="parameters" />
  </wsdl:message>
  <wsdl:message name="getOutputYears">
    <wsdl:part element="tns:getOutputYears" name="parameters" />
  </wsdl:message>
  <wsdl:message name="parseDataResponse">
    <wsdl:part element="tns:parseDataResponse" name="parameters" />
  </wsdl:message>
  <wsdl:message name="getEligibilityResponse">
    <wsdl:part element="tns:getEligibilityResponse" name="parameters" />
  </wsdl:message>
  <wsdl:message name="getOutputMonths">
    <wsdl:part element="tns:getOutputMonths" name="parameters" />
  </wsdl:message>
  <wsdl:message name="getFileList">
    <wsdl:part element="tns:getFileList" name="parameters" />
  </wsdl:message>
  <wsdl:message name="getConfigValuesResponse">
    <wsdl:part element="tns:getConfigValuesResponse" name="parameters" />
  </wsdl:message>
  <wsdl:message name="setConfigValue">
    <wsdl:part element="tns:setConfigValue" name="parameters" />
  </wsdl:message>
  <wsdl:message name="getProtocolVersionResponse">
    <wsdl:part element="tns:getProtocolVersionResponse" name="parameters" />
  </wsdl:message>
  <wsdl:message name="getBulkStatusResponse">
    <wsdl:part element="tns:getBulkStatusResponse" name="parameters" />
  </wsdl:message>
  <wsdl:message name="insertPayloadResponse">
    <wsdl:part element="tns:insertPayloadResponse" name="parameters" />
  </wsdl:message>
  <wsdl:message name="addKeyToKeyringResponse">
    <wsdl:part element="tns:addKeyToKeyringResponse" name="parameters" />
  </wsdl:message>
  <wsdl:message name="getCurrentUserNameResponse">
    <wsdl:part element="tns:getCurrentUserNameResponse" name="parameters" />
  </wsdl:message>
  <wsdl:message name="getProtocolVersion">
    <wsdl:part element="tns:getProtocolVersion" name="parameters" />
  </wsdl:message>
  <wsdl:message name="getPlugins">
    <wsdl:part element="tns:getPlugins" name="parameters" />
  </wsdl:message>
  <wsdl:message name="getCurrentUserName">
    <wsdl:part element="tns:getCurrentUserName" name="parameters" />
  </wsdl:message>
  <wsdl:message name="getPluginOptions">
    <wsdl:part element="tns:getPluginOptions" name="parameters" />
  </wsdl:message>
  <wsdl:message name="getBulkStatus">
    <wsdl:part element="tns:getBulkStatus" name="parameters" />
  </wsdl:message>
  <wsdl:message name="getOutputYearsResponse">
    <wsdl:part element="tns:getOutputYearsResponse" name="parameters" />
  </wsdl:message>
  <wsdl:message name="getStatusResponse">
    <wsdl:part element="tns:getStatusResponse" name="parameters" />
  </wsdl:message>
  <wsdl:message name="getStatus">
    <wsdl:part element="tns:getStatus" name="parameters" />
  </wsdl:message>
  <wsdl:message name="getFile">
    <wsdl:part element="tns:getFile" name="parameters" />
  </wsdl:message>
  <wsdl:message name="setConfigValueResponse">
    <wsdl:part element="tns:setConfigValueResponse" name="parameters" />
  </wsdl:message>
  <wsdl:message name="insertPayload">
    <wsdl:part element="tns:insertPayload" name="parameters" />
  </wsdl:message>
  <wsdl:message name="changePasswordResponse">
    <wsdl:part element="tns:changePasswordResponse" name="parameters" />
  </wsdl:message>
  <wsdl:message name="getConfigValues">
    <wsdl:part element="tns:getConfigValues" name="parameters" />
  </wsdl:message>
  <wsdl:message name="parseData">
    <wsdl:part element="tns:parseData" name="parameters" />
  </wsdl:message>
  <wsdl:message name="changePassword">
    <wsdl:part element="tns:changePassword" name="parameters" />
  </wsdl:message>
  <wsdl:message name="getPluginOptionsResponse">
    <wsdl:part element="tns:getPluginOptionsResponse" name="parameters" />
  </wsdl:message>
  <wsdl:message name="addRemittUser">
    <wsdl:part element="tns:addRemittUser" name="parameters" />
  </wsdl:message>
  <wsdl:message name="listRemittUsersResponse">
    <wsdl:part element="tns:listRemittUsersResponse" name="parameters" />
  </wsdl:message>
  <wsdl:message name="getFileResponse">
    <wsdl:part element="tns:getFileResponse" name="parameters" />
  </wsdl:message>
  <wsdl:portType name="Service">
    <wsdl:operation name="getPluginOptions">
      <wsdl:input message="tns:getPluginOptions" name="getPluginOptions" />
      <wsdl:output message="tns:getPluginOptionsResponse" name="getPluginOptionsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getStatus">
      <wsdl:input message="tns:getStatus" name="getStatus" />
      <wsdl:output message="tns:getStatusResponse" name="getStatusResponse" />
    </wsdl:operation>
    <wsdl:operation name="getOutputYears">
      <wsdl:input message="tns:getOutputYears" name="getOutputYears" />
      <wsdl:output message="tns:getOutputYearsResponse" name="getOutputYearsResponse" />
    </wsdl:operation>
    <wsdl:operation name="parseData">
      <wsdl:input message="tns:parseData" name="parseData" />
      <wsdl:output message="tns:parseDataResponse" name="parseDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="getEligibility">
      <wsdl:input message="tns:getEligibility" name="getEligibility" />
      <wsdl:output message="tns:getEligibilityResponse" name="getEligibilityResponse" />
    </wsdl:operation>
    <wsdl:operation name="listRemittUsers">
      <wsdl:input message="tns:listRemittUsers" name="listRemittUsers" />
      <wsdl:output message="tns:listRemittUsersResponse" name="listRemittUsersResponse" />
    </wsdl:operation>
    <wsdl:operation name="getConfigValues">
      <wsdl:input message="tns:getConfigValues" name="getConfigValues" />
      <wsdl:output message="tns:getConfigValuesResponse" name="getConfigValuesResponse" />
    </wsdl:operation>
    <wsdl:operation name="changePassword">
      <wsdl:input message="tns:changePassword" name="changePassword" />
      <wsdl:output message="tns:changePasswordResponse" name="changePasswordResponse" />
    </wsdl:operation>
    <wsdl:operation name="insertPayload">
      <wsdl:input message="tns:insertPayload" name="insertPayload" />
      <wsdl:output message="tns:insertPayloadResponse" name="insertPayloadResponse" />
    </wsdl:operation>
    <wsdl:operation name="setConfigValue">
      <wsdl:input message="tns:setConfigValue" name="setConfigValue" />
      <wsdl:output message="tns:setConfigValueResponse" name="setConfigValueResponse" />
    </wsdl:operation>
    <wsdl:operation name="getProtocolVersion">
      <wsdl:input message="tns:getProtocolVersion" name="getProtocolVersion" />
      <wsdl:output message="tns:getProtocolVersionResponse" name="getProtocolVersionResponse" />
    </wsdl:operation>
    <wsdl:operation name="getFile">
      <wsdl:input message="tns:getFile" name="getFile" />
      <wsdl:output message="tns:getFileResponse" name="getFileResponse" />
    </wsdl:operation>
    <wsdl:operation name="getCurrentUserName">
      <wsdl:input message="tns:getCurrentUserName" name="getCurrentUserName" />
      <wsdl:output message="tns:getCurrentUserNameResponse" name="getCurrentUserNameResponse" />
    </wsdl:operation>
    <wsdl:operation name="getBulkStatus">
      <wsdl:input message="tns:getBulkStatus" name="getBulkStatus" />
      <wsdl:output message="tns:getBulkStatusResponse" name="getBulkStatusResponse" />
    </wsdl:operation>
    <wsdl:operation name="addRemittUser">
      <wsdl:input message="tns:addRemittUser" name="addRemittUser" />
      <wsdl:output message="tns:addRemittUserResponse" name="addRemittUserResponse" />
    </wsdl:operation>
    <wsdl:operation name="getOutputMonths">
      <wsdl:input message="tns:getOutputMonths" name="getOutputMonths" />
      <wsdl:output message="tns:getOutputMonthsResponse" name="getOutputMonthsResponse" />
    </wsdl:operation>
    <wsdl:operation name="addKeyToKeyring">
      <wsdl:input message="tns:addKeyToKeyring" name="addKeyToKeyring" />
      <wsdl:output message="tns:addKeyToKeyringResponse" name="addKeyToKeyringResponse" />
    </wsdl:operation>
    <wsdl:operation name="getPlugins">
      <wsdl:input message="tns:getPlugins" name="getPlugins" />
      <wsdl:output message="tns:getPluginsResponse" name="getPluginsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getFileList">
      <wsdl:input message="tns:getFileList" name="getFileList" />
      <wsdl:output message="tns:getFileListResponse" name="getFileListResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RemittServiceSoapBinding" type="tns:Service">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getPluginOptions">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getPluginOptions">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getPluginOptionsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOutputYears">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getOutputYears">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getOutputYearsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStatus">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getStatus">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getStatusResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="parseData">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="parseData">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="parseDataResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEligibility">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getEligibility">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getEligibilityResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changePassword">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="changePassword">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="changePasswordResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getConfigValues">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getConfigValues">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getConfigValuesResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listRemittUsers">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="listRemittUsers">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="listRemittUsersResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertPayload">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="insertPayload">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="insertPayloadResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setConfigValue">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="setConfigValue">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="setConfigValueResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProtocolVersion">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getProtocolVersion">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getProtocolVersionResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCurrentUserName">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getCurrentUserName">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCurrentUserNameResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFile">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getFile">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getFileResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addRemittUser">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="addRemittUser">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="addRemittUserResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBulkStatus">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getBulkStatus">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getBulkStatusResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOutputMonths">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getOutputMonths">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getOutputMonthsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addKeyToKeyring">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="addKeyToKeyring">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="addKeyToKeyringResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPlugins">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getPlugins">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getPluginsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFileList">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getFileList">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getFileListResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RemittService">
    <wsdl:port binding="tns:RemittServiceSoapBinding" name="ServiceImplPort">
      <soap:address location="http://localhost:8080/remitt/services/interface" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>