data/wsdl/ShimService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="Shim" targetNamespace="http://shim.freemedsoftware.org/" xmlns:ns1="http://cxf.apache.org/bindings/xformat" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://shim.freemedsoftware.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://shim.freemedsoftware.org/" xmlns:tns="http://shim.freemedsoftware.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="getDevices" type="tns:getDevices" />
<xs:element name="getDevicesResponse" type="tns:getDevicesResponse" />
<xs:element name="getJobItem" type="tns:getJobItem" />
<xs:element name="getJobItemResponse" type="tns:getJobItemResponse" />
<xs:element name="getJobStatus" type="tns:getJobStatus" />
<xs:element name="getJobStatusResponse" type="tns:getJobStatusResponse" />
<xs:element name="getProtocolVersion" type="tns:getProtocolVersion" />
<xs:element name="getProtocolVersionResponse" type="tns:getProtocolVersionResponse" />
<xs:element name="requestLabel" type="tns:requestLabel" />
<xs:element name="requestLabelResponse" type="tns:requestLabelResponse" />
<xs:element name="requestSignature" type="tns:requestSignature" />
<xs:element name="requestSignatureResponse" type="tns:requestSignatureResponse" />
<xs:complexType name="getJobStatus">
<xs:sequence>
<xs:element minOccurs="0" name="requestId" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getJobStatusResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:signatureStatus" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getDevices">
<xs:sequence />
</xs:complexType>
<xs:complexType name="getDevicesResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:shimDeviceInformation" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="shimDeviceInformation">
<xs:sequence>
<xs:element minOccurs="0" name="deviceDriver" type="xs:string" />
<xs:element minOccurs="0" name="deviceName" type="xs:string" />
<xs:element minOccurs="0" name="deviceType" type="tns:deviceCapability" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getProtocolVersion">
<xs:sequence />
</xs:complexType>
<xs:complexType name="getProtocolVersionResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="requestLabel">
<xs:sequence>
<xs:element minOccurs="0" name="printTemplate" type="xs:string" />
<xs:element minOccurs="0" name="printParameters" type="tns:hashMap" />
<xs:element minOccurs="0" name="copyCount" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="hashMap">
<xs:complexContent>
<xs:extension base="tns:abstractMap">
<xs:sequence />
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType abstract="true" name="abstractMap">
<xs:sequence />
</xs:complexType>
<xs:complexType name="requestLabelResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getJobItem">
<xs:sequence>
<xs:element minOccurs="0" name="requestId" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getJobItemResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:jobStoreItem" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="jobStoreItem">
<xs:sequence>
<xs:element minOccurs="0" name="device" type="xs:string" />
<xs:element minOccurs="0" name="displayText" type="xs:string" />
<xs:element minOccurs="0" name="id" type="xs:int" />
<xs:element minOccurs="0" name="printCount" type="xs:int" />
<xs:element name="printParameters">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="key" type="xs:string" />
<xs:element minOccurs="0" name="value" type="xs:string" />
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="printTemplate" type="xs:string" />
<xs:element minOccurs="0" name="signatureImage" type="xs:base64Binary" />
<xs:element minOccurs="0" name="signatureRaw" type="xs:base64Binary" />
<xs:element minOccurs="0" name="status" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="requestSignature">
<xs:sequence>
<xs:element minOccurs="0" name="displayInformation" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="requestSignatureResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:simpleType name="signatureStatus">
<xs:restriction base="xs:string">
<xs:enumeration value="PENDING" />
<xs:enumeration value="COMPLETE" />
<xs:enumeration value="ERROR" />
<xs:enumeration value="NEW" />
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="deviceCapability">
<xs:restriction base="xs:string">
<xs:enumeration value="DEVICE_SIGNATURE_TABLET" />
<xs:enumeration value="DEVICE_VITAL_SIGNS" />
<xs:enumeration value="DEVICE_LABEL_PRINTER" />
</xs:restriction>
</xs:simpleType>
<xs:element name="DeviceNotAvailableException" type="tns:DeviceNotAvailableException" />
<xs:complexType name="DeviceNotAvailableException">
<xs:sequence />
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="requestSignatureResponse">
    <wsdl:part element="tns:requestSignatureResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="requestLabelResponse">
    <wsdl:part element="tns:requestLabelResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProtocolVersionResponse">
    <wsdl:part element="tns:getProtocolVersionResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getJobItemResponse">
    <wsdl:part element="tns:getJobItemResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="requestLabel">
    <wsdl:part element="tns:requestLabel" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getJobStatus">
    <wsdl:part element="tns:getJobStatus" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="requestSignature">
    <wsdl:part element="tns:requestSignature" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDevices">
    <wsdl:part element="tns:getDevices" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DeviceNotAvailableException">
    <wsdl:part element="tns:DeviceNotAvailableException" name="DeviceNotAvailableException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getJobItem">
    <wsdl:part element="tns:getJobItem" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDevicesResponse">
    <wsdl:part element="tns:getDevicesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getJobStatusResponse">
    <wsdl:part element="tns:getJobStatusResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProtocolVersion">
    <wsdl:part element="tns:getProtocolVersion" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ShimService">
    <wsdl:operation name="getJobStatus">
      <wsdl:input message="tns:getJobStatus" name="getJobStatus">
    </wsdl:input>
      <wsdl:output message="tns:getJobStatusResponse" name="getJobStatusResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDevices">
      <wsdl:input message="tns:getDevices" name="getDevices">
    </wsdl:input>
      <wsdl:output message="tns:getDevicesResponse" name="getDevicesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProtocolVersion">
      <wsdl:input message="tns:getProtocolVersion" name="getProtocolVersion">
    </wsdl:input>
      <wsdl:output message="tns:getProtocolVersionResponse" name="getProtocolVersionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="requestLabel">
      <wsdl:input message="tns:requestLabel" name="requestLabel">
    </wsdl:input>
      <wsdl:output message="tns:requestLabelResponse" name="requestLabelResponse">
    </wsdl:output>
      <wsdl:fault message="tns:DeviceNotAvailableException" name="DeviceNotAvailableException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getJobItem">
      <wsdl:input message="tns:getJobItem" name="getJobItem">
    </wsdl:input>
      <wsdl:output message="tns:getJobItemResponse" name="getJobItemResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="requestSignature">
      <wsdl:input message="tns:requestSignature" name="requestSignature">
    </wsdl:input>
      <wsdl:output message="tns:requestSignatureResponse" name="requestSignatureResponse">
    </wsdl:output>
      <wsdl:fault message="tns:DeviceNotAvailableException" name="DeviceNotAvailableException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ShimSoapBinding" type="tns:ShimService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getJobStatus">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getJobStatus">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getJobStatusResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDevices">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getDevices">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getDevicesResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProtocolVersion">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getProtocolVersion">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getProtocolVersionResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="requestLabel">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="requestLabel">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="requestLabelResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DeviceNotAvailableException">
        <soap:fault name="DeviceNotAvailableException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getJobItem">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getJobItem">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getJobItemResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="requestSignature">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="requestSignature">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="requestSignatureResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DeviceNotAvailableException">
        <soap:fault name="DeviceNotAvailableException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Shim">
    <wsdl:port binding="tns:ShimSoapBinding" name="ShimServiceImplPort">
      <soap:address location="http://localhost:8080/shim/services/ShimService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>